<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USER CREATION</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>User Creation Form</h1>
<form action="#" th:action="@{infouser}" th:object="${infouser}" method="post">
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>eMail: <input type="email" th:field="*{email}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Surnames: <input type="text" th:field="*{surnames}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a th:href="@{login}">Welcome page</a><BR>
</body>
</html>