<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> WELCOME </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container">

<h1>Please sign in</h1><br/><br/><br>
<p th:if="${param.error}" class="error">
    Bad Credentials
</p>
<form th:action="@{/app-login}" method="POST">
    <label>Username: </label> <input type="text" name="app_username" placeholder="Username"/> <br/><br/>
    <label>Password:</label> <input type="password" name="app_password" placeholder="Password"/> <br/><br/>
    <input type="submit" value="Login"/>
</form><BR>
<a th:href="@{infouser}">Create new User</a><BR>
 </div>
</body>
</html>
